a#profile-dropdown-menu.dropdown-toggle[data-toggle="dropdown" href="#"]
  img[alt="" src="/images/avatar1_small.jpg"]
  span.username
    | {{ profileDropdown.displayAs }}
  b.caret
ul.dropdown-menu.extended.logout
  li[ng-repeat="element in profileDropdown.elements"]
    a[ui-sref="{{element.sref}}" ng-attr-id="{{element.id}}"]
      i[ng-attr-class="fa {{element.icon}}"]
      | {{ element.label }}
  /li
  /  a[ui-sref="customer.settings"]
  /    i.fa.fa-cog
  /    |  Settings
  /li
  /  a#user-logout[href="#" ng-click="logout()"]
  /    i.fa.fa-key
  /    |  Log Out