a.dropdown-toggle[href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"]
  img[alt="" src="/images/flags/us.png"]
  span.username
    | US
  b.caret
ul.dropdown-menu
  li
    a[href="#"]
      img[alt="" src="/images/flags/ru.png"]
      |  Russian