.leftside-navigation
  ul#nav-accordion.sidebar-menu
    li[ng-repeat="element in navigation.elements"]
      a[ui-sref="{{element.sref}}" ui-sref-active="active"]
        i[ng-attr-class="fa {{element.icon}}"]
        span
          | {{ element.label }}