.lock-wrapper
  span#time[current-time="dateFormat"]
  .lock-box.text-center[ng-show="isLocked"]
    .lock-name
      | {{userName}}
    img[src="/images/lock_thumb.jpg" alt="lock avatar"]
    .lock-pwd
      form.form-inline[role="form" name="form"]
        .form-group
          input.form-control.lock-input[type="password" name="password" ng-model="lockForm.password" placeholder="{{ 'common.password' | translate }}" required]
          button.btn.btn-lock[type="submit" name="submit" ng-click="submit()" ng-disabled="form.$invalid || $inSubmit"]
            i.fa.fa-arrow-right
