.container[ng-show="$authorize()"]
  form.form-signin[role="form" name="form" novalidate]
    h2.form-signin-heading[translate="login.caption"]
    .login-wrap
      .user-login-info
        .form-group#email-group[ng-class="formHelpers.emailClass(form)"]
          input.form-control[type="email" name="email" ng-model="loginForm.email" placeholder="{{ 'common.user.email' | translate }}" required autofocus]
          span.help-block[ng-if="formHelpers.invalidEmail(form)" translate="common.errors.invalidEmail"]
        .form-group#password-group[ng-class="formHelpers.passwordClass(form)"]
          input.form-control[type="password" name="password" ng-model="loginForm.password" placeholder="{{ 'common.password' | translate }}" ng-minlength="8" ng-maxlength="128" required]
          span.help-block[ng-if="formHelpers.passwordTooShort(form)" translate="common.errors.shortPassword"]
          span.help-block[ng-if="formHelpers.passwordTooLong(form)" translate="common.errors.longPassword"]
      label.checkbox
        input[type="checkbox" name="remember" ng-model="login.remember"]
          | {{ 'login.remember' | translate }}
        span.pull-right
          button#forgot-modal-show.btn.btn-link[name="forgot" type="button" ng-click="showForgot()" translate="login.forgot.caption"]
      button#submit.btn.btn-lg.btn-login.btn-block[name="submit" type="submit" ng-click="submit()" ng-disabled="form.$invalid || $inSubmit" translate="login.submit"]
      .login-registration
        | {{ 'login.registration.caption' | translate }}&nbsp;
        a[ui-sref="authentication.registration" translate="login.registration.action"]
        br
        | {{ 'login.confirmation.caption' | translate }}&nbsp;
        a#confirmation-modal-show[href="#" ng-click="showConfirmation()" translate="login.confirmation.action"]
        br
        | {{ 'login.unlock.caption' | translate }}&nbsp;
        a#unlock-modal-show[href="#" ng-click="showUnlock()" translate="login.unlock.action"]
