.container[ng-show="$authorize()"]
  form.form-signin[role="form" name="form" novalidate]
    h2.form-signin-heading[translate="password.caption"]
    .login-wrap
      p[translate="password.details.caption"]
      .form-group#password-group[ng-class="formHelpers.passwordClass(form)"]
        input.form-control[type="password" name="password" ng-model="passwordData.password" placeholder="{{ 'common.password' | translate }}" ng-minlength="8" ng-maxlength="128" required]
        span.help-block[ng-if="formHelpers.passwordTooShort(form)" translate="common.errors.shortPassword"]
        span.help-block[ng-if="formHelpers.passwordTooLong(form)" translate="common.errors.longPassword"]
      .form-group#confirmation-group[ng-class="formHelpers.confirmationClass(form, passwordData)"]
        input.form-control[type="password" name="confirmation" ng-model="passwordData.password_confirmation" placeholder="{{ 'password.details.confirmation.placeholder' | translate }}" required]
        span.help-block[ng-if="formHelpers.confirmationMismatch(form, passwordData)" translate="common.errors.confirmationMismatch"]
      button.btn.btn-lg.btn-login.btn-block[type="submit" name="submit" ng-disabled="canSubmit(form)" ng-click="submit()" translate="common.submit"]
      .registration
        |  {{ 'password.login.caption' | translate }}&nbsp;
        a[ui-sref="authentication.login" translate="password.login.action"]