.container[ng-show="$authorize()"]
  form.form-signin[role="form" name="form" novalidate]
    h2.form-signin-heading[translate="registration.caption"]
    .login-wrap
      p[translate="registration.details.caption"]
      .form-group#email-group[ng-class="formHelpers.emailClass(form)"]
        input.form-control[type="email" name="email" ng-model="registrationData.email" placeholder="{{ 'common.user.email' | translate }}" required autofocus]
        span.help-block[ng-if="formHelpers.invalidEmail(form)" translate="common.errors.invalidEmail"]
      .form-group#password-group[ng-class="formHelpers.passwordClass(form)"]
        input.form-control[type="password" name="password" ng-model="registrationData.password" placeholder="{{ 'common.password' | translate }}" ng-minlength="8" ng-maxlength="128" required]
        span.help-block[ng-if="formHelpers.passwordTooShort(form)" translate="common.errors.shortPassword"]
        span.help-block[ng-if="formHelpers.passwordTooLong(form)" translate="common.errors.longPassword"]
      .form-group#confirmation-group[ng-class="formHelpers.confirmationClass(form, registrationData)"]
        input.form-control[type="password" name="confirmation" ng-model="registrationData.password_confirmation" placeholder="{{ 'registration.details.confirmation.placeholder' | translate }}" required]
        span.help-block[ng-if="formHelpers.confirmationMismatch(form, registrationData)" translate="common.errors.confirmationMismatch"]
      / FIXME. Highlight on Agree
      label.checkbox
        input[type="checkbox" name="agree" ng-model="registrationData.tos_agreement"]
          | {{ 'registration.agree.conditions' | translate }}
      button.btn.btn-lg.btn-login.btn-block[type="submit" name="submit" ng-disabled="canSubmit(form)" ng-click="submit()" translate="common.submit"]
      .registration
        |  {{ 'registration.login.caption' | translate }}&nbsp;
        a[ui-sref="authentication.login" translate="registration.login.action"]