section.wrapper
  .row
    .col-md-12
      section.panel
        header.panel-heading.tab-bg-dark-navy-blue
          ul.nav.nav-tabs.nav-justified
            li.active
              a[data-toggle="tab" href="#apps"]
                i.fa.fa-cloud
                  span
                    | &nbsp; Connected Apps
            li
              a[data-toggle="tab" href="#settings"]
                i.fa.fa-cog
                  span
                    | &nbsp; Settings
        .panel-body
          .tab-content.tasi-tab
            #apps.tab-pane.active
              .row
                .col-sm-6
                  section.panel[ng-repeat="connection in connections"]
                    header.panel-heading
                      b
                        |  {{ connection.title }}
                      span.tools.pull-right
                        button.btn.btn-primary.btn-sm[ng-click="connect(connection.identity)" ng-disabled="$inSubmit"]
                          | Connect
                    .panel-body[ng-show="connection.tokens.length > 0"]
                      section
                        table.table.table-bordered.table-striped.table-condensed
                          thead
                            tr
                              th
                                | Email
                              th
                                | Connected at
                              th
                                | Last activity
                          tbody
                            tr[ng-repeat="token in connection.tokens"]
                              td
                                | {{ token.email }}
                              td
                                | {{ token.created_at | date:'short' }}
                              td
                                | {{ token.updated_at | date:'short' }}
                                button.btn.btn-danger.btn-xs.pull-right[ng-click="disconnect(token.id)" ng-disabled="$inSubmit"]
                                  | Disconnect
            #settings.tab-pane
