/*
*= require_self
*/

.login-wrap > .checkbox {
  margin-left: 20px;
}

.btn-link, .btn-link:hover  {
  margin-top: -7px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #1fb5ac;
}

.form-signin  span.help-block {
  margin-top: -10px;
  margin-bottom: -23px;
}

.form-signin div.form-group {
  margin-top: 30px;
}

#email-group {
  margin-top: 0;
}

#confirmation-group {
  margin-bottom: 30px;
}

.form-signin input[type="email"] {
  margin-bottom:15px;
  border-radius:5px;
  -webkit-border-radius:5px;
  border:1px solid #eaeaea;
  box-shadow:none;
  font-size:12px;
}

.form-signin .btn-login {
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken(#1fb5ac, 10%);
  }
}

.login-registration {
  position: absolute;
  color: #b8bab9;
  bottom: -65px;
  right: 0;
  text-align: right;
}
