a.dropdown-toggle[data-toggle="dropdown" href="#"]
  i.fa.fa-bell-o
  span.badge.bg-warning
    | 3
ul.dropdown-menu.extended.notification
  li
    p
      | Notifications
  li
    .alert.alert-info.clearfix
      span.alert-icon
        i.fa.fa-bolt
      .noti-info
        a[href="#"]
          |  Server #1 overloaded.
  li
    .alert.alert-danger.clearfix
      span.alert-icon
        i.fa.fa-bolt
      .noti-info
        a[href="#"]
          |  Server #2 overloaded.
  li
    .alert.alert-success.clearfix
      span.alert-icon
        i.fa.fa-bolt
      .noti-info
        a[href="#"]
          |  Server #3 overloaded.