#confirmation-modal.modal[role="dialog" tabindex="-1"]
  .modal-dialog
    .modal-content
      .modal-header
        button#confirmation-close.close[type="button" ng-click="email = ''; hideConfirmation()"]
          | ×
        h4.modal-title[translate="login.confirmation.caption"]
      .modal-body
        p[translate="login.confirmation.instructions"]
        form[role="form" name="form" novalidate]
          input#confirmation-email.form-control.placeholder-no-fix[type="email" name="email" ng-model="email" placeholder="{{ 'common.email' | translate}}" autocomplete="off" required autofocus]
      .modal-footer
        button#confirmation-cancel.btn.btn-default[name="cancel" ng-click="email = ''; hideConfirmation()" translate="common.cancel"]
        button#confirmation-submit.btn.btn-success[name="submit" ng-click="submitConfirmation(email)" ng-disabled="form.$invalid || $inSubmit" translate="common.submit"]