#forgot-modal.modal[role="dialog" tabindex="-1"]
  .modal-dialog
    .modal-content
      .modal-header
        button#forgot-close.close[type="button" ng-click="email = ''; hideForgot()"]
          | ×
        h4.modal-title[translate="login.forgot.caption"]
      .modal-body
        p[translate="login.forgot.instructions"]
        form[role="form" name="form" novalidate]
          input#forgot-email.form-control.placeholder-no-fix[type="email" name="email" ng-model="email" placeholder="{{ 'common.email' | translate}}" autocomplete="off" required autofocus]
      .modal-footer
        button#forgot-cancel.btn.btn-default[name="cancel" ng-click="email = ''; hideForgot()" translate="common.cancel"]
        button#forgot-submit.btn.btn-success[name="submit" ng-click="submitForgot(email)" ng-disabled="form.$invalid || $inSubmit" translate="common.submit"]