#unlock-modal.modal[role="dialog" tabindex="-1"]
  .modal-dialog
    .modal-content
      .modal-header
        button#unlock-close.close[type="button" ng-click="email = ''; hideUnlock()"]
          | ×
        h4.modal-title[translate="login.unlock.caption"]
      .modal-body
        p[translate="login.unlock.instructions"]
        form[role="form" name="form" novalidate]
          input#unlock-email.form-control.placeholder-no-fix[type="email" name="email" ng-model="email" placeholder="{{ 'common.email' | translate}}" autocomplete="off" required autofocus]
      .modal-footer
        button#unlock-cancel.btn.btn-default[name="cancel" ng-click="email = ''; hideUnlock()" translate="common.cancel"]
        button#unlock-submit.btn.btn-success[name="submit" ng-click="submitUnlock(email)" ng-disabled="form.$invalid || $inSubmit" translate="common.submit"]