doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[name="description" content=""]
    meta[name="author" content="ThemeBucket"]
    link[rel="shortcut icon" href="images/favicon.png"]
    title
      | Responsive Table
    link[href="bs3/css/bootstrap.min.css" rel="stylesheet"]
    link[href="css/bootstrap-reset.css" rel="stylesheet"]
    link[href="font-awesome/css/font-awesome.css" rel="stylesheet"]
    link[href="css/table-responsive.css" rel="stylesheet"]
    link[href="css/style.css" rel="stylesheet"]
    link[href="css/style-responsive.css" rel="stylesheet"]
  body
    section#container
      header.header.fixed-top.clearfix
        .brand
          a.logo[href="index.html"]
            img[src="images/logo.png" alt=""]
          .sidebar-toggle-box
            .fa.fa-bars
        #top_menu.nav.notify-row
          ul.nav.top-menu
            li.dropdown
              a.dropdown-toggle[data-toggle="dropdown" href="#"]
                i.fa.fa-tasks
                span.badge.bg-success
                  | 8
              ul.dropdown-menu.extended.tasks-bar
                li
                  p.
                    | You have 8 pending tasks
                li
                  a[href="#"]

                  .task-info.clearfix
                    .desc.pull-left
                      h5
                        | Target Sell
                      p
                        | 25% , Deadline 12 June’13
                    span.notification-pie-chart.pull-right[data-percent="45"]
                      span.percent
                li
                  a[href="#"]

                  .task-info.clearfix
                    .desc.pull-left
                      h5
                        | Product Delivery
                      p
                        | 45% , Deadline 12 June’13
                    span.notification-pie-chart.pull-right[data-percent="78"]
                      span.percent
                li
                  a[href="#"]

                  .task-info.clearfix
                    .desc.pull-left
                      h5
                        | Payment collection
                      p
                        | 87% , Deadline 12 June’13
                    span.notification-pie-chart.pull-right[data-percent="60"]
                      span.percent
                li
                  a[href="#"]

                  .task-info.clearfix
                    .desc.pull-left
                      h5
                        | Target Sell
                      p
                        | 33% , Deadline 12 June’13
                    span.notification-pie-chart.pull-right[data-percent="90"]
                      span.percent
                li.external
                  a[href="#"]
                    | See All Tasks
            li#header_inbox_bar.dropdown
              a.dropdown-toggle[data-toggle="dropdown" href="#"]
                i.fa.fa-envelope-o
                span.badge.bg-important
                  | 4
              ul.dropdown-menu.extended.inbox
                li
                  p.red
                    | You have 4 Mails
                li
                  a[href="#"]
                    span.photo
                      img[alt="avatar" src="images/avatar-mini.jpg"]
                    span.subject
                      span.from
                        | Jonathan Smith
                      span.time
                        | Just now
                    span.message
                      |  Hello, this is an example msg. 
                li
                  a[href="#"]
                    span.photo
                      img[alt="avatar" src="images/avatar-mini-2.jpg"]
                    span.subject
                      span.from
                        | Jane Doe
                      span.time
                        | 2 min ago
                    span.message
                      |  Nice admin template 
                li
                  a[href="#"]
                    span.photo
                      img[alt="avatar" src="images/avatar-mini-3.jpg"]
                    span.subject
                      span.from
                        | Tasi sam
                      span.time
                        | 2 days ago
                    span.message
                      |  This is an example msg. 
                li
                  a[href="#"]
                    span.photo
                      img[alt="avatar" src="images/avatar-mini.jpg"]
                    span.subject
                      span.from
                        | Mr. Perfect
                      span.time
                        | 2 hour ago
                    span.message
                      |  Hi there, its a test 
                li
                  a[href="#"]
                    | See all messages
            li#header_notification_bar.dropdown
              a.dropdown-toggle[data-toggle="dropdown" href="#"]
                i.fa.fa-bell-o
                span.badge.bg-warning
                  | 3
              ul.dropdown-menu.extended.notification
                li
                  p
                    | Notifications
                li
                  .alert.alert-info.clearfix
                    span.alert-icon
                      i.fa.fa-bolt
                    .noti-info
                      a[href="#"]
                        |  Server #1 overloaded.
                li
                  .alert.alert-danger.clearfix
                    span.alert-icon
                      i.fa.fa-bolt
                    .noti-info
                      a[href="#"]
                        |  Server #2 overloaded.
                li
                  .alert.alert-success.clearfix
                    span.alert-icon
                      i.fa.fa-bolt
                    .noti-info
                      a[href="#"]
                        |  Server #3 overloaded.
        .top-nav.clearfix
          ul.nav.pull-right.top-menu
            li
              input.form-control.search[type="text" placeholder=" Search"]
            li.dropdown
              a.dropdown-toggle[data-toggle="dropdown" href="#"]
                img[alt="" src="images/avatar1_small.jpg"]
                span.username
                  | John Doe
                b.caret
              ul.dropdown-menu.extended.logout
                li
                  a[href="#"]
                    i.fa.fa-suitcase
                    | Profile
                li
                  a[href="#"]
                    i.fa.fa-cog
                    |  Settings
                li
                  a[href="login.html"]
                    i.fa.fa-key
                    |  Log Out
            li
              .toggle-right-box
                .fa.fa-bars
      aside
        #sidebar.nav-collapse
          .leftside-navigation
            ul#nav-accordion.sidebar-menu
              li
                a[href="index.html"]
                  i.fa.fa-dashboard
                  span
                    | Dashboard
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-laptop
                  span
                    | Layouts
                ul.sub
                  li
                    a[href="boxed_page.html"]
                      | Boxed Page
                  li
                    a[href="horizontal_menu.html"]
                      | Horizontal Menu
                  li
                    a[href="language_switch.html"]
                      | Language Switch Bar
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-book
                  span
                    | UI Elements
                ul.sub
                  li
                    a[href="general.html"]
                      | General
                  li
                    a[href="buttons.html"]
                      | Buttons
                  li
                    a[href="typography.html"]
                      | Typography
                  li
                    a[href="widget.html"]
                      | Widget
                  li
                    a[href="slider.html"]
                      | Slider
                  li
                    a[href="tree_view.html"]
                      | Tree View
                  li
                    a[href="nestable.html"]
                      | Nestable
                  li
                    a[href="grids.html"]
                      | Grids
                  li
                    a[href="calendar.html"]
                      | Calender
                  li
                    a[href="draggable_portlet.html"]
                      | Draggable Portlet
              li
                a[href="fontawesome.html"]
                  i.fa.fa-bullhorn
                  span
                    | Fontawesome 
              li.sub-menu
                a.active[href="javascript:;"]
                  i.fa.fa-th
                  span
                    | Data Tables
                ul.sub
                  li
                    a[href="basic_table.html"]
                      | Basic Table
                  li.active
                    a[href="responsive_table.html"]
                      | Responsive Table
                  li
                    a[href="dynamic_table.html"]
                      | Dynamic Table
                  li
                    a[href="editable_table.html"]
                      | Editable Table
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-tasks
                  span
                    | Form Components
                ul.sub
                  li
                    a[href="form_component.html"]
                      | Form Elements
                  li
                    a[href="advanced_form.html"]
                      | Advanced Components
                  li
                    a[href="form_wizard.html"]
                      | Form Wizard
                  li
                    a[href="form_validation.html"]
                      | Form Validation
                  li
                    a[href="file_upload.html"]
                      | Muliple File Upload
                  li
                    a[href="dropzone.html"]
                      | Dropzone
                  li
                    a[href="inline_editor.html"]
                      | Inline Editor
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-envelope
                  span
                    | Mail 
                ul.sub
                  li
                    a[href="mail.html"]
                      | Inbox
                  li
                    a[href="mail_compose.html"]
                      | Compose Mail
                  li
                    a[href="mail_view.html"]
                      | View Mail
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-bar-chart-o
                  span
                    | Charts
                ul.sub
                  li
                    a[href="morris.html"]
                      | Morris
                  li
                    a[href="chartjs.html"]
                      | Chartjs
                  li
                    a[href="flot_chart.html"]
                      | Flot Charts
                  li
                    a[href="c3_chart.html"]
                      | C3 Chart
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-bar-chart-o
                  span
                    | Maps
                ul.sub
                  li
                    a[href="google_map.html"]
                      | Google Map
                  li
                    a[href="vector_map.html"]
                      | Vector Map
              li.sub-menu
                a[href="javascript:;"]
                  i.fa.fa-glass
                  span
                    | Extra
                ul.sub
                  li
                    a[href="blank.html"]
                      | Blank Page
                  li
                    a[href="lock_screen.html"]
                      | Lock Screen
                  li
                    a[href="profile.html"]
                      | Profile
                  li
                    a[href="invoice.html"]
                      | Invoice
                  li
                    a[href="pricing_table.html"]
                      | Pricing Table
                  li
                    a[href="timeline.html"]
                      | Timeline
                  li
                    a[href="gallery.html"]
                      | Media Gallery
                  li
                    a[href="404.html"]
                      | 404 Error
                  li
                    a[href="500.html"]
                      | 500 Error
                  li
                    a[href="registration.html"]
                      | Registration
              li
                a[href="login.html"]
                  i.fa.fa-user
                  span
                    | Login Page
      section#main-content
        section.wrapper
          .row
            .col-sm-12
              section.panel
                header.panel-heading
                  |  Responsive table 
                  span.tools.pull-right
                    a.fa.fa-chevron-down[href="javascript:;"]
                    a.fa.fa-cog[href="javascript:;"]
                    a.fa.fa-times[href="javascript:;"]
                .panel-body
                  section#unseen
                    table.table.table-bordered.table-striped.table-condensed
                      thead
                        tr
                          th
                            | Code
                          th
                            | Company
                          th.numeric
                            | Price
                          th.numeric
                            | Change
                          th.numeric
                            | Change %
                          th.numeric
                            | Open
                          th.numeric
                            | High
                          th.numeric
                            | Low
                          th.numeric
                            | Volume
                      tbody
                        tr
                          td
                            | AAC
                          td
                            | AUSTRALIAN AGRICULTURAL COMPANY LIMITED.
                          td.numeric
                            | $1.38
                          td.numeric
                            | -0.01
                          td.numeric
                            | -0.36%
                          td.numeric
                            | $1.39
                          td.numeric
                            | $1.39
                          td.numeric
                            | $1.38
                          td.numeric
                            | 9,395
                        tr
                          td
                            | AAD
                          td
                            | ARDENT LEISURE GROUP
                          td.numeric
                            | $1.15
                          td.numeric
                            |  +0.02
                          td.numeric
                            | 1.32%
                          td.numeric
                            | $1.14
                          td.numeric
                            | $1.15
                          td.numeric
                            | $1.13
                          td.numeric
                            | 56,431
                        tr
                          td
                            | AAX
                          td
                            | AUSENCO LIMITED
                          td.numeric
                            | $4.00
                          td.numeric
                            | -0.04
                          td.numeric
                            | -0.99%
                          td.numeric
                            | $4.01
                          td.numeric
                            | $4.05
                          td.numeric
                            | $4.00
                          td.numeric
                            | 90,641
                        tr
                          td
                            | ABC
                          td
                            | ADELAIDE BRIGHTON LIMITED
                          td.numeric
                            | $3.00
                          td.numeric
                            |  +0.06
                          td.numeric
                            | 2.04%
                          td.numeric
                            | $2.98
                          td.numeric
                            | $3.00
                          td.numeric
                            | $2.96
                          td.numeric
                            | 862,518
                        tr
                          td
                            | ABP
                          td
                            | ABACUS PROPERTY GROUP
                          td.numeric
                            | $1.91
                          td.numeric
                            | 0.00
                          td.numeric
                            | 0.00%
                          td.numeric
                            | $1.92
                          td.numeric
                            | $1.93
                          td.numeric
                            | $1.90
                          td.numeric
                            | 595,701
                        tr
                          td
                            | ABY
                          td
                            | ADITYA BIRLA MINERALS LIMITED
                          td.numeric
                            | $0.77
                          td.numeric
                            |  +0.02
                          td.numeric
                            | 2.00%
                          td.numeric
                            | $0.76
                          td.numeric
                            | $0.77
                          td.numeric
                            | $0.76
                          td.numeric
                            | 54,567
                        tr
                          td
                            | ACR
                          td
                            | ACRUX LIMITED
                          td.numeric
                            | $3.71
                          td.numeric
                            |  +0.01
                          td.numeric
                            | 0.14%
                          td.numeric
                            | $3.70
                          td.numeric
                            | $3.72
                          td.numeric
                            | $3.68
                          td.numeric
                            | 191,373
                        tr
                          td
                            | ADU
                          td
                            | ADAMUS RESOURCES LIMITED
                          td.numeric
                            | $0.72
                          td.numeric
                            | 0.00
                          td.numeric
                            | 0.00%
                          td.numeric
                            | $0.73
                          td.numeric
                            | $0.74
                          td.numeric
                            | $0.72
                          td.numeric
                            | 8,602,291
                        tr
                          td
                            | AGG
                          td
                            | ANGLOGOLD ASHANTI LIMITED
                          td.numeric
                            | $7.81
                          td.numeric
                            | -0.22
                          td.numeric
                            | -2.74%
                          td.numeric
                            | $7.82
                          td.numeric
                            | $7.82
                          td.numeric
                            | $7.81
                          td.numeric
                            | 148
                        tr
                          td
                            | AGK
                          td
                            | AGL ENERGY LIMITED
                          td.numeric
                            | $13.82
                          td.numeric
                            |  +0.02
                          td.numeric
                            | 0.14%
                          td.numeric
                            | $13.83
                          td.numeric
                            | $13.83
                          td.numeric
                            | $13.67
                          td.numeric
                            | 846,403
                        tr
                          td
                            | AGO
                          td
                            | ATLAS IRON LIMITED
                          td.numeric
                            | $3.17
                          td.numeric
                            | -0.02
                          td.numeric
                            | -0.47%
                          td.numeric
                            | $3.11
                          td.numeric
                            | $3.22
                          td.numeric
                            | $3.10
                          td.numeric
                            | 5,416,303
              section.panel
                header.panel-heading
                  |  Flip Scroll 
                  span.tools.pull-right
                    a.fa.fa-chevron-down[href="javascript:;"]
                    a.fa.fa-cog[href="javascript:;"]
                    a.fa.fa-times[href="javascript:;"]
                .panel-body
                  section#flip-scroll
                    table.table.table-bordered.table-striped.table-condensed.cf
                      thead.cf
                        tr
                          th
                            | Code
                          th
                            | Company
                          th.numeric
                            | Price
                          th.numeric
                            | Change
                          th.numeric
                            | Change %
                          th.numeric
                            | Open
                          th.numeric
                            | High
                          th.numeric
                            | Low
                          th.numeric
                            | Volume
                      tbody
                        tr
                          td
                            | AAC
                          td
                            | AUSTRALIAN AGRICULTURAL COMPANY LIMITED.
                          td.numeric
                            | $1.38
                          td.numeric
                            | -0.01
                          td.numeric
                            | -0.36%
                          td.numeric
                            | $1.39
                          td.numeric
                            | $1.39
                          td.numeric
                            | $1.38
                          td.numeric
                            | 9,395
                        tr
                          td
                            | AAD
                          td
                            | ARDENT LEISURE GROUP
                          td.numeric
                            | $1.15
                          td.numeric
                            |  +0.02
                          td.numeric
                            | 1.32%
                          td.numeric
                            | $1.14
                          td.numeric
                            | $1.15
                          td.numeric
                            | $1.13
                          td.numeric
                            | 56,431
                        tr
                          td
                            | AAX
                          td
                            | AUSENCO LIMITED
                          td.numeric
                            | $4.00
                          td.numeric
                            | -0.04
                          td.numeric
                            | -0.99%
                          td.numeric
                            | $4.01
                          td.numeric
                            | $4.05
                          td.numeric
                            | $4.00
                          td.numeric
                            | 90,641
                        tr
                          td
                            | ABC
                          td
                            | ADELAIDE BRIGHTON LIMITED
                          td.numeric
                            | $3.00
                          td.numeric
                            |  +0.06
                          td.numeric
                            | 2.04%
                          td.numeric
                            | $2.98
                          td.numeric
                            | $3.00
                          td.numeric
                            | $2.96
                          td.numeric
                            | 862,518
                        tr
                          td
                            | ABP
                          td
                            | ABACUS PROPERTY GROUP
                          td.numeric
                            | $1.91
                          td.numeric
                            | 0.00
                          td.numeric
                            | 0.00%
                          td.numeric
                            | $1.92
                          td.numeric
                            | $1.93
                          td.numeric
                            | $1.90
                          td.numeric
                            | 595,701
                        tr
                          td
                            | ABY
                          td
                            | ADITYA BIRLA MINERALS LIMITED
                          td.numeric
                            | $0.77
                          td.numeric
                            |  +0.02
                          td.numeric
                            | 2.00%
                          td.numeric
                            | $0.76
                          td.numeric
                            | $0.77
                          td.numeric
                            | $0.76
                          td.numeric
                            | 54,567
                        tr
                          td
                            | ACR
                          td
                            | ACRUX LIMITED
                          td.numeric
                            | $3.71
                          td.numeric
                            |  +0.01
                          td.numeric
                            | 0.14%
                          td.numeric
                            | $3.70
                          td.numeric
                            | $3.72
                          td.numeric
                            | $3.68
                          td.numeric
                            | 191,373
                        tr
                          td
                            | ADU
                          td
                            | ADAMUS RESOURCES LIMITED
                          td.numeric
                            | $0.72
                          td.numeric
                            | 0.00
                          td.numeric
                            | 0.00%
                          td.numeric
                            | $0.73
                          td.numeric
                            | $0.74
                          td.numeric
                            | $0.72
                          td.numeric
                            | 8,602,291
                        tr
                          td
                            | AGG
                          td
                            | ANGLOGOLD ASHANTI LIMITED
                          td.numeric
                            | $7.81
                          td.numeric
                            | -0.22
                          td.numeric
                            | -2.74%
                          td.numeric
                            | $7.82
                          td.numeric
                            | $7.82
                          td.numeric
                            | $7.81
                          td.numeric
                            | 148
                        tr
                          td
                            | AGK
                          td
                            | AGL ENERGY LIMITED
                          td.numeric
                            | $13.82
                          td.numeric
                            |  +0.02
                          td.numeric
                            | 0.14%
                          td.numeric
                            | $13.83
                          td.numeric
                            | $13.83
                          td.numeric
                            | $13.67
                          td.numeric
                            | 846,403
                        tr
                          td
                            | AGO
                          td
                            | ATLAS IRON LIMITED
                          td.numeric
                            | $3.17
                          td.numeric
                            | -0.02
                          td.numeric
                            | -0.47%
                          td.numeric
                            | $3.11
                          td.numeric
                            | $3.22
                          td.numeric
                            | $3.10
                          td.numeric
                            | 5,416,303
              section.panel
                header.panel-heading
                  |  No More Tables 
                  span.tools.pull-right
                    a.fa.fa-chevron-down[href="javascript:;"]
                    a.fa.fa-cog[href="javascript:;"]
                    a.fa.fa-times[href="javascript:;"]
                .panel-body
                  section#no-more-tables
                    table.table.table-bordered.table-striped.table-condensed.cf
                      thead.cf
                        tr
                          th
                            | Code
                          th
                            | Company
                          th.numeric
                            | Price
                          th.numeric
                            | Change
                          th.numeric
                            | Change %
                          th.numeric
                            | Open
                          th.numeric
                            | High
                          th.numeric
                            | Low
                          th.numeric
                            | Volume
                      tbody
                        tr
                          td[data-title="Code"]
                            | AAC
                          td[data-title="Company"]
                            | AUSTRALIAN AGRICULTURAL COMPANY LIMITED.
                          td.numeric[data-title="Price"]
                            | $1.38
                          td.numeric[data-title="Change"]
                            | -0.01
                          td.numeric[data-title="Change %"]
                            | -0.36%
                          td.numeric[data-title="Open"]
                            | $1.39
                          td.numeric[data-title="High"]
                            | $1.39
                          td.numeric[data-title="Low"]
                            | $1.38
                          td.numeric[data-title="Volume"]
                            | 9,395
                        tr
                          td[data-title="Code"]
                            | AAD
                          td[data-title="Company"]
                            | ARDENT LEISURE GROUP
                          td.numeric[data-title="Price"]
                            | $1.15
                          td.numeric[data-title="Change"]
                            |  +0.02
                          td.numeric[data-title="Change %"]
                            | 1.32%
                          td.numeric[data-title="Open"]
                            | $1.14
                          td.numeric[data-title="High"]
                            | $1.15
                          td.numeric[data-title="Low"]
                            | $1.13
                          td.numeric[data-title="Volume"]
                            | 56,431
                        tr
                          td[data-title="Code"]
                            | AAX
                          td[data-title="Company"]
                            | AUSENCO LIMITED
                          td.numeric[data-title="Price"]
                            | $4.00
                          td.numeric[data-title="Change"]
                            | -0.04
                          td.numeric[data-title="Change %"]
                            | -0.99%
                          td.numeric[data-title="Open"]
                            | $4.01
                          td.numeric[data-title="High"]
                            | $4.05
                          td.numeric[data-title="Low"]
                            | $4.00
                          td.numeric[data-title="Volume"]
                            | 90,641
                        tr
                          td[data-title="Code"]
                            | ABC
                          td[data-title="Company"]
                            | ADELAIDE BRIGHTON LIMITED
                          td.numeric[data-title="Price"]
                            | $3.00
                          td.numeric[data-title="Change"]
                            |  +0.06
                          td.numeric[data-title="Change %"]
                            | 2.04%
                          td.numeric[data-title="Open"]
                            | $2.98
                          td.numeric[data-title="High"]
                            | $3.00
                          td.numeric[data-title="Low"]
                            | $2.96
                          td.numeric[data-title="Volume"]
                            | 862,518
                        tr
                          td[data-title="Code"]
                            | ABP
                          td[data-title="Company"]
                            | ABACUS PROPERTY GROUP
                          td.numeric[data-title="Price"]
                            | $1.91
                          td.numeric[data-title="Change"]
                            | 0.00
                          td.numeric[data-title="Change %"]
                            | 0.00%
                          td.numeric[data-title="Open"]
                            | $1.92
                          td.numeric[data-title="High"]
                            | $1.93
                          td.numeric[data-title="Low"]
                            | $1.90
                          td.numeric[data-title="Volume"]
                            | 595,701
                        tr
                          td[data-title="Code"]
                            | ABY
                          td[data-title="Company"]
                            | ADITYA BIRLA MINERALS LIMITED
                          td.numeric[data-title="Price"]
                            | $0.77
                          td.numeric[data-title="Change"]
                            |  +0.02
                          td.numeric[data-title="Change %"]
                            | 2.00%
                          td.numeric[data-title="Open"]
                            | $0.76
                          td.numeric[data-title="High"]
                            | $0.77
                          td.numeric[data-title="Low"]
                            | $0.76
                          td.numeric[data-title="Volume"]
                            | 54,567
                        tr
                          td[data-title="Code"]
                            | ACR
                          td[data-title="Company"]
                            | ACRUX LIMITED
                          td.numeric[data-title="Price"]
                            | $3.71
                          td.numeric[data-title="Change"]
                            |  +0.01
                          td.numeric[data-title="Change %"]
                            | 0.14%
                          td.numeric[data-title="Open"]
                            | $3.70
                          td.numeric[data-title="High"]
                            | $3.72
                          td.numeric[data-title="Low"]
                            | $3.68
                          td.numeric[data-title="Volume"]
                            | 191,373
                        tr
                          td[data-title="Code"]
                            | ADU
                          td[data-title="Company"]
                            | ADAMUS RESOURCES LIMITED
                          td.numeric[data-title="Price"]
                            | $0.72
                          td.numeric[data-title="Change"]
                            | 0.00
                          td.numeric[data-title="Change %"]
                            | 0.00%
                          td.numeric[data-title="Open"]
                            | $0.73
                          td.numeric[data-title="High"]
                            | $0.74
                          td.numeric[data-title="Low"]
                            | $0.72
                          td.numeric[data-title="Volume"]
                            | 8,602,291
                        tr
                          td[data-title="Code"]
                            | AGG
                          td[data-title="Company"]
                            | ANGLOGOLD ASHANTI LIMITED
                          td.numeric[data-title="Price"]
                            | $7.81
                          td.numeric[data-title="Change"]
                            | -0.22
                          td.numeric[data-title="Change %"]
                            | -2.74%
                          td.numeric[data-title="Open"]
                            | $7.82
                          td.numeric[data-title="High"]
                            | $7.82
                          td.numeric[data-title="Low"]
                            | $7.81
                          td.numeric[data-title="Volume"]
                            | 148
                        tr
                          td[data-title="Code"]
                            | AGK
                          td[data-title="Company"]
                            | AGL ENERGY LIMITED
                          td.numeric[data-title="Price"]
                            | $13.82
                          td.numeric[data-title="Change"]
                            |  +0.02
                          td.numeric[data-title="Change %"]
                            | 0.14%
                          td.numeric[data-title="Open"]
                            | $13.83
                          td.numeric[data-title="High"]
                            | $13.83
                          td.numeric[data-title="Low"]
                            | $13.67
                          td.numeric[data-title="Volume"]
                            | 846,403
                        tr
                          td[data-title="Code"]
                            | AGO
                          td[data-title="Company"]
                            | ATLAS IRON LIMITED
                          td.numeric[data-title="Price"]
                            | $3.17
                          td.numeric[data-title="Change"]
                            | -0.02
                          td.numeric[data-title="Change %"]
                            | -0.47%
                          td.numeric[data-title="Open"]
                            | $3.11
                          td.numeric[data-title="High"]
                            | $3.22
                          td.numeric[data-title="Low"]
                            | $3.10
                          td.numeric[data-title="Volume"]
                            | 5,416,303
      .right-sidebar
        .search-row
          input.form-control[type="text" placeholder="Search"]
        .right-stat-bar
          ul.right-side-accordion
            li.widget-collapsible
              a.head.widget-head.red-bg.active.clearfix[href="#"]
                span.pull-left
                  | work progress (5)
                span.pull-right.widget-collapse
                  i.ico-minus
              ul.widget-container
                li
                  .prog-row.side-mini-stat.clearfix
                    .side-graph-info
                      h4
                        | Target sell
                      p
                        |  25%, Deadline 12 june 13 
                    .side-mini-graph
                      .target-sell

                  .prog-row.side-mini-stat
                    .side-graph-info
                      h4
                        | product delivery
                      p
                        |  55%, Deadline 12 june 13 
                    .side-mini-graph
                      .p-delivery
                        .sparkline[data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5" data-data="[200,135,667,333,526,996,564,123,890,564,455]"]

                  .prog-row.side-mini-stat
                    .side-graph-info.payment-info
                      h4
                        | payment collection
                      p
                        |  25%, Deadline 12 june 13 
                    .side-mini-graph
                      .p-collection
                        span.pc-epie-chart[data-percent="45"]
                          span.percent
                  .prog-row.side-mini-stat
                    .side-graph-info
                      h4
                        | delivery pending
                      p
                        |  44%, Deadline 12 june 13 
                    .side-mini-graph
                      .d-pending

                  .prog-row.side-mini-stat
                    .col-md-12
                      h4
                        | total progress
                      p
                        |  50%, Deadline 12 june 13 
                      .progress.progress-xs.mtop10
                        .progress-bar.progress-bar-info[style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar"]
                          span.sr-only
                            | 50% Complete
            li.widget-collapsible
              a.head.widget-head.terques-bg.active.clearfix[href="#"]
                span.pull-left
                  | contact online (5)
                span.pull-right.widget-collapse
                  i.ico-minus
              ul.widget-container
                li
                  .prog-row
                    .user-thumb
                      a[href="#"]
                        img[src="images/avatar1_small.jpg" alt=""]
                    .user-details
                      h4
                        a[href="#"]
                          | Jonathan Smith
                      p
                        |  Work for fun 
                    .user-status.text-danger
                      i.fa.fa-comments-o
                  .prog-row
                    .user-thumb
                      a[href="#"]
                        img[src="images/avatar1.jpg" alt=""]
                    .user-details
                      h4
                        a[href="#"]
                          | Anjelina Joe
                      p
                        |  Available 
                    .user-status.text-success
                      i.fa.fa-comments-o
                  .prog-row
                    .user-thumb
                      a[href="#"]
                        img[src="images/chat-avatar2.jpg" alt=""]
                    .user-details
                      h4
                        a[href="#"]
                          | John Doe
                      p
                        |  Away from Desk 
                    .user-status.text-warning
                      i.fa.fa-comments-o
                  .prog-row
                    .user-thumb
                      a[href="#"]
                        img[src="images/avatar1_small.jpg" alt=""]
                    .user-details
                      h4
                        a[href="#"]
                          | Mark Henry
                      p
                        |  working 
                    .user-status.text-info
                      i.fa.fa-comments-o
                  .prog-row
                    .user-thumb
                      a[href="#"]
                        img[src="images/avatar1.jpg" alt=""]
                    .user-details
                      h4
                        a[href="#"]
                          | Shila Jones
                      p
                        |  Work for fun 
                    .user-status.text-danger
                      i.fa.fa-comments-o
                  p.text-center
                    a.view-btn[href="#"]
                      | View all Contacts
            li.widget-collapsible
              a.head.widget-head.purple-bg.active[href="#"]
                span.pull-left
                  |  recent activity (3)
                span.pull-right.widget-collapse
                  i.ico-minus
              ul.widget-container
                li
                  .prog-row
                    .user-thumb.rsn-activity
                      i.fa.fa-clock-o
                    .rsn-details
                      p.text-muted
                        |  just now 
                      p
                        a[href="#"]
                          | Jim Doe 
                        | Purchased new equipments for zonal office setup 
                  .prog-row
                    .user-thumb.rsn-activity
                      i.fa.fa-clock-o
                    .rsn-details
                      p.text-muted
                        |  2 min ago 
                      p
                        a[href="#"]
                          | Jane Doe 
                        | Purchased new equipments for zonal office setup 
                  .prog-row
                    .user-thumb.rsn-activity
                      i.fa.fa-clock-o
                    .rsn-details
                      p.text-muted
                        |  1 day ago 
                      p
                        a[href="#"]
                          | Jim Doe 
                        | Purchased new equipments for zonal office setup 
            li.widget-collapsible
              a.head.widget-head.yellow-bg.active[href="#"]
                span.pull-left
                  |  shipment status
                span.pull-right.widget-collapse
                  i.ico-minus
              ul.widget-container
                li
                  .col-md-12
                    .prog-row
                      p
                        |  Full sleeve baby wear (SL: 17665) 
                      .progress.progress-xs.mtop10
                        .progress-bar.progress-bar-success[role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%"]
                          span.sr-only
                            | 40% Complete
                    .prog-row
                      p
                        |  Full sleeve baby wear (SL: 17665) 
                      .progress.progress-xs.mtop10
                        .progress-bar.progress-bar-info[role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%"]
                          span.sr-only
                            | 70% Completed
    script[src="js/jquery.js"]
    script[src="bs3/js/bootstrap.min.js"]
    script.include[type="text/javascript" src="js/jquery.dcjqaccordion.2.7.js"]
    script[src="js/jquery.scrollTo.min.js"]
    script[src="js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"]
    script[src="js/jquery.nicescroll.js"]
    script[src="js/easypiechart/jquery.easypiechart.js"]
    script[src="js/sparkline/jquery.sparkline.js"]
    script[src="js/flot-chart/jquery.flot.js"]
    script[src="js/flot-chart/jquery.flot.tooltip.min.js"]
    script[src="js/flot-chart/jquery.flot.resize.js"]
    script[src="js/flot-chart/jquery.flot.pie.resize.js"]
    script[src="js/scripts.js"]
