doctype html
html[lang="en" ng-app="simplr.applications.authentication"]
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[name="description" content=""]
    /link[rel="shortcut icon" href="images/favicon.png"]
    title
      | #{@title}
    == stylesheet_link_tag 'application', media: 'all'
    == stylesheet_link_tag 'animate.css', media: 'all'
    == stylesheet_link_tag 'bucket-admin-base', media: 'all'
    == stylesheet_link_tag 'angular/applications/authentication', media: 'all'
    link#apiRoot[href="#{Rails.env.production? ? ENV['API_ROOT'] : '' }"]
  body[ng-class="$bodyClass"]
    == yield
    == javascript_include_tag 'application'
    == javascript_include_tag 'angular-js'
    == javascript_include_tag 'angular/providers/alert'
    == javascript_include_tag 'angular/factories/authentication'
    == javascript_include_tag 'angular/providers/authentication'
    == javascript_include_tag 'angular/application-shared'
    - if Rails.env.test? || Rails.env.development?
      == javascript_include_tag 'angular-mocks'
      == javascript_include_tag 'angular/mocks/application'
      == javascript_include_tag 'angular/mocks/shared'
    - else
      == javascript_include_tag 'angular/application-production'
    == javascript_include_tag 'angular/applications/authentication'
    - if Rails.env.test? || Rails.env.development?
      == javascript_include_tag 'angular/mocks/authentication'