doctype html
html[lang="en" ng-app="simplr.applications.customer"]
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[name="description" content=""]
    meta[name="author" content="ThemeBucket"]
    /link[rel="shortcut icon" href="images/favicon.png"]
    title
      | #{@title}
    == stylesheet_link_tag 'application', media: 'all'
    == stylesheet_link_tag 'animate.css', media: 'all'
    == stylesheet_link_tag 'bucket-admin-base', media: 'all'
    == stylesheet_link_tag 'angular/applications/customer', media: 'all'
    link#apiRoot[href="#{Rails.env.production? ? ENV['API_ROOT'] : '' }"]
  body
    section#container[ng-show="$authorize()"]
      header.header.fixed-top.clearfix
        .brand
          a.logo[ui-sref="customer.dashboard"]
            img[src="/images/logo.png" alt=""]
          .sidebar-toggle-box
            .fa.fa-bars
        #top_menu.nav.notify-row
          ul.nav.top-menu
            li#header_notification_bar.dropdown[ui-view="notification-bar"]
        .top-nav.clearfix
          ul.nav.pull-right.top-menu
            li
              input.form-control.search[type="text" placeholder=" Search"]
            li.dropdown.language[ui-view="language-switcher"]
            li.dropdown[ui-view="profile-dropdown-menu"]
      aside
        #sidebar.nav-collapse[ui-view="leftside-navigation"]
      section#main-content[ui-view]
        /section.wrapper
        /  == yield
        /  .row
        /    .col-sm-12
        /      section.panel
        /        header.panel-heading
        /          |  Heading goes here..
        /          span.tools.pull-right
        /            a.fa.fa-chevron-down[href="javascript:;"]
        /            a.fa.fa-cog[href="javascript:;"]
        /            a.fa.fa-times[href="javascript:;"]
        /        .panel-body
        /          |  This is a sample page
    == javascript_include_tag 'application'
    == javascript_include_tag 'tools'
    == javascript_include_tag 'charts'
    == javascript_include_tag 'bucket-admin'
    == javascript_include_tag 'angular-js'
    == javascript_include_tag 'angular/providers/alert'
    == javascript_include_tag 'angular/factories/authentication'
    == javascript_include_tag 'angular/factories/customer'
    == javascript_include_tag 'angular/providers/authentication'
    == javascript_include_tag 'angular/application-shared'
    - if Rails.env.test? || Rails.env.development?
      == javascript_include_tag 'angular-mocks'
      == javascript_include_tag 'angular/mocks/application'
      == javascript_include_tag 'angular/mocks/shared'
    - else
      == javascript_include_tag 'angular/application-production'
    == javascript_include_tag 'angular/applications/customer'
    - if Rails.env.test? || Rails.env.development?
      == javascript_include_tag 'angular/mocks/authentication'
      == javascript_include_tag 'angular/mocks/customer'
